@{
    ViewData["Title"] = "Home Page";
}

@model List<LibraryApp.Models.Book>

<div class="text-center">
    <h1 class="display-4">Welcome to Library Application!</h1>
    <p><a asp-controller="Book" asp-action="Add">Add a Book</a></p>
</div>
