@model Book

<table class="table thead-dark">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>ISBN</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.ISBN</td>
        <td>
            <a asp-controller="Employer" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>

</table>
